.header {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.description {
    font-size: 11px;
    color: var(--secondary-color);
}

